
<div class="container" style="background-color: #F2F4C3;"> 
    <div class="row m-5">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 text-center">
            <div class="display-6  fw-bolder" style="font-family: serif,'Times New Roman', Times;">Select the orange square and red circle</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2 d-inline-block">A)</div>
           <img src="assets/orange-square.png" alt="" width="150px" height="150px" class="img-fluid d-inline-block">
           <img src="assets/red-ring.png" alt="" width="150px" height="150px" class="img-fluid d-inline-block">
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-5"  (click)="navigateA()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2 d-inline-block">B)</div>
           <img src="assets/orange-rectangle.png" alt="" width="150px" height="150px" class="img-fluid d-inline-block">
           <img src="assets/red-circle.png" alt="" width="150px" height="150px" class="img-fluid d-inline-block">
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-5"  (click)="navigateB()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2 d-inline-block">C)</div>
           <img src="assets/orange-circle-.png" width="150px" height="150px" class="img-fluid d-inline-block">
           <img src="assets/red-square.png" alt="" width="150px" height="150px" class="img-fluid d-inline-block">
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-5"  (click)="navigateC()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2 d-inline-block">D)</div>
           <img src="assets/orange-square.png" alt="" width="150px" height="150px" class="img-fluid d-inline-block">
           <img src="assets/red-circle.png" alt="" width="150px" height="150px" class="img-fluid d-inline-block">
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-5"  (click)="navigate()" >click to move</button>
        </div>
    </div>
    

</div>
    
    
