
<div class="container" style="background-color: #FFF5B7;"> 
    <div class="row m-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <div class="display-6  fw-bolder" style="font-family: serif,'Times New Roman', Times;">Spot the number of differences between the two pictures</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <img src="assets/pic-difference.png" alt="" class="img-fluid" width="400px" height="300px">
    </div>
    
    <div class="row m-5 ">
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">A) 5 </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigateA()" >click to move</button>
        </div>
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">B) 7 </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigate()" >click to move</button>
        </div>
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">C) 4 </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigateB()" >click to move</button>
        </div>
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">D) 6 </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigateC()" >click to move</button>
        </div>
    </div>

</div>
    
    
