<div class="container" style="background-color: #FFEEDB;"> 
    <div class="row m-5">
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-8 text-center">
            <div class="display-6  fw-bolder" style="font-family: serif,'Times New Roman', Times;">Which English alphabet is also a body organ?</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">A) E</div>
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-3"  (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">B) T</div>
        </div>
        <div class="col-sm-4 text-start">
            <button class="btn btn-outline-primary mt-sm-3" style="margin-left: 10px;" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">C) I</div>
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-3" style="margin-left: 10px;" (click)="navigateRight()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">D) U</div>
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-3" style="margin-left: 10px;" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>

</div>
    
