

<div class="container" style="background-color: #EAC8AF;"> 
    <div class="row m-5">
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-8 text-center">
            <div class="display-6  fw-bolder" style="font-family: serif,'Times New Roman', Times;">Find the odd one .</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <img src="https://www.educationquizzes.com/library/11-Plus/Non-Verbal-Reasoning/Odd-One-Out-3/Q9.PNG" alt="" class="img-fluid" width="500px" height="300px">
    </div>
    
    <div class="row m-5 ">
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">A) D </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigateWrong()" >click to move</button>
        </div>
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">B) C </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigateWrong()" >click to move</button>
        </div>
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">C) A </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigateRight()" >click to move</button>
        </div>
        <div class="col-sm-3 p-0">
            <div class="d-inline-block display-6 ms-sm-2">D) B </div>
            <button class="d-inline-block btn btn-outline-primary ms-sm-3 mb-sm-3"  (click)="navigateWrong()" >click to move</button>
        </div>
    </div>

</div>
    
