<div class="container" style="background-color: lightcyan;">
    <div class="row m-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
            <div class="display-6 text-primary">IPL 2020 winner</div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row m-5">
        <div class="col-sm-6 text-center">
            <div class="display-5">A) CSK</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
        <div class="col-sm-6 text-center">
            <div class="display-5 ">B) MI</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-6 text-center">
            <div class="display-5">C) RCB</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
        <div class="col-sm-6 text-center">
            <div class="display-5">D) DC</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-6 text-center">
            <div class="display-5">E) SRH</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
        <div class="col-sm-6 text-center">
            <div class="display-5">F) KKR</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    </div>
