
<div class="container" style="background-color: lightcyan;">
    <div class="row m-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">
            <div class="display-6 text-primary">Who is the first PRIME MINISTER of INDIA</div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row m-5">
        <div class="col-sm-6 text-center">
            <div class="display-5">A) Indira Gandhi</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
        <div class="col-sm-6 text-center">
            <div class="display-5 ">B) Man mohan singh</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-6 text-center">
            <div class="display-5">C) Jawaharlal nehru</div>
            <button class="btn btn-outline-primary" (click)="navigate()" >click to move</button>
        </div>
        <div class="col-sm-6 text-center">
            <div class="display-5">D) Narendra Modhi</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-6 text-center">
            <div class="display-5">E) Rajiv Gandhi</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
        <div class="col-sm-6 text-center">
            <div class="display-5">F) Sardar vallabhai patel</div>
            <button class="btn btn-outline-primary" (click)="navigateWrong()" >click to move</button>
        </div>
    </div>
    </div>