
<div class="container" style="background-color: #C6FFC1;"> 
    <div class="row m-5">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 text-center">
            <div class="display-6  fw-bolder" style="font-family: serif,'Times New Roman', Times;">Bob’s coach has five players: four are named Jojo, Koko, Lolo and Momo. What is the fifth player’s name?</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">A) NONO</div>
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-3"  (click)="navigateA()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">B) JKLM</div>
        </div>
        <div class="col-sm-4 text-start">
            <button class="btn btn-outline-primary mt-sm-3" style="margin-left: 10px;" (click)="navigateB()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">C) HOHO</div>
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-3" style="margin-left: 10px;" (click)="navigateC()" >click to move</button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 text-start">
            <div class="display-6 m-sm-2">D) BOB</div>
        </div>
        <div class="col-sm-4  text-start">
            <button class="btn btn-outline-primary mt-sm-3" style="margin-left: 10px;" (click)="navigate()" >click to move</button>
        </div>
    </div>

</div>
    
    
