<div class="container mt-sm-5" style="background-color: rgb(195,195,195);"> 
    
        
    <div class="d-flex justify-content-center align-items-center">
        <img src="https://i.pinimg.com/originals/f7/3f/14/f73f1459686a33dd12167260aebfaf7a.png" alt="" class="img-fluid" width="500px" height="300px">
    </div>
    
    <div class="row m-5 text-center">
        <div class="col-sm-3">
            <div class="display-6 ms-sm-2">A)  1-d 2-e 3-a 4-c 5-b</div>
            <button class="btn btn-outline-primary ms-sm-3" style="margin-left: 10px;" >
                <a href="https://forms.gle/YDk6ibRt5gSLpJm16">click to move</a>
            </button>
        </div>
        <div class="col-sm-3">
            <div class="display-6 ms-sm-2">B)  1-a 2-e 3-a 4-b 5-d</div>
            <button class="btn btn-outline-primary ms-sm-3" style="margin-left: 10px;" >
                <a href="https://forms.gle/Yn4Y8WRDTaFX1CkXA">click to move</a>
            </button>
        </div>
        <div class="col-sm-3">
            <div class="display-6 ms-sm-2">C)  1-d 2-e 3-a 4-b 5-c</div>
            <button class="btn btn-outline-primary ms-sm-3" style="margin-left: 10px;" >
                <a href="https://forms.gle/FXseUHENkFmuKTDf6">click to move</a>
            </button>
        </div>
        <div class="col-sm-3">
            <div class="display-6 ms-sm-2">D)  1-d 2-a 3-e 4-b 5-c</div>
            <button class="btn btn-outline-primary ms-sm-3" style="margin-left: 10px;" >
                <a href="https://forms.gle/oQNy78VFkpbMSCti8">click to move</a>
            </button>
        </div>
    </div>

</div>
    
    

    
    
