<div class="background">
    <div class="d-flex justify-content-center align-items-center m-sm-3">
        <h1 class="text-danger">
            Welcome to WEBHUNT
        </h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <img src="https://yt3.ggpht.com/ytc/AAUvwniKZPvDP404IXYc1IGn4LlFin6fmMHAiccj_nvj0A=s900-c-k-c0x00ffffff-no-rj" alt="" class="img-fluid" width="300px" height="300px">
    </div>
    <div class="d-flex justify-content-center align-items-center m-sm-4">
        <div class="btn btn-success" (click)="start()" >
            Click to Start
        </div>
    </div>
</div>

